/*@import url(//fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
*/
ul {
	margin-right: 28pt;
	font-family: "Droid Arabic Naskh";
	font-size: 1.1em;
	line-height: normal;
}

h1 {
	margin-bottom: 32pt;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-family: 'Droid Arabic Naskh', sans-serif !important;
	
}
.sidebar-nav {
	padding: 9px 0;
}
.tag-1 {
	font-size: 1.2em;
}
.tag-2 {
	font-size: 10p1emt;
}
.tag-2 {
	font-size: 0.9em;
}
.tag-4 {
	font-size: 0.8em;
}

p {
	font-family: "Droid Arabic Naskh";
	font-size: 1.2em;
	line-height: normal;
}

.container-fluid {
	direction: rtl;
}

pre {
	font-size: 1.4em;
}

address {
	text-align: center;
	line-height: 14px;
	margin-bottom: 6px;
}