<!DOCTYPE html>
<html lang="fa">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/master/dist/font-face.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">

    <link rel="alternate" href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link rel="alternate" href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

  </head>

  <body>


  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/pages/about">درباره</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/pages/downloads">دانلودها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/pages/discuss">گفت‌وگو</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/pages/support">حمایت</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">

        <div class="row">

        	<div class="col-md-9" id="content">
                {% block content %}
                {% endblock %}
            </div>

      	    <div class="col-md-3">
      	        <div class="card bg-light">
      	            <div class="card-body">
                        {% include 'sidebar.html' %}
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <footer class="text-center">
            <p>ساخته شده با <a href="http://pelican.notmyidea.org/">Pelican <i class="fas fa-external-link-alt"></i></a>، که خود از <a href="http://python.org">Python <i class="fas fa-external-link-alt"></i></a> قدرت می‌گیرد.</p>
            <p>این کتاب توسط <a href="http://jadi.net">جادی<i class="fas fa-external-link-alt"></i></a> منتشر شده و هر شکلی از تکثیر مجدد آن با ذکر نام و لینک اصلی مجاز است. شاد باشید!</p>
        </footer>

    </main>


    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

  </body>
</html>
