<nav class="nav flex-column">
    <strong><i class="fas fa-external-link-alt"></i> معرفی</strong>
    <a href="{{ SITEURL }}/pages/about" >درباره</a>
    <a href="{{ SITEURL }}/pages/downloads">دانلود</a>
    <a href="{{ SITEURL }}/pages/discuss">گفتگو</a>
    <a href="{{ SITEURL }}/pages/support">حمایت</a>
    <br>
    <strong><i class="fas fa-home"></i> لینک‌ها</strong>
    <a href="http://instagram.com/khode_jadi" rel="alternate"><i class="icon-bookmark icon-large"></i>اینستاگرام</a>
    <a href="http://twitter.com/jadi" rel="alternate"><i class="icon-bookmark icon-large"></i>توییتر</a>
    <a href="http://jadi.net" rel="alternate"><i class="icon-bookmark icon-large"></i>وبلاگ جادی.نت</a>
    <br>
    <strong><i class="fas fa-folder"></i> فصل‌ها</strong>
    {% for article in articles %}
        {% if article.category == 'chapters' %}
            <a href="{{ SITEURL }}/{{ article.url }}"><i class="fas fa-folder-open"></i> {{ article.title }}</a>
        {% endif %}
    {% endfor %}
    {% include 'twitter_profile.html' %}
    {% include 'search_sidebar.html' %}
    {% if SIDEBAR_CUSTOM %}
        {{ SIDEBAR_CUSTOM }}
    {% endif %}
</nav>